body {
  height: 600px;
  width: 365px;
}

.title {
  padding-left: 15px;
  margin: 25px 0;
}

ul, li {
  list-style: none;
}

.stored-text-list {
  padding: 0 15px;
  padding-bottom: 52px;
}

.stored-text-list li {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid gray;
}
.list-item li h3,
.list-item span {
  padding-left: 5px;
  padding-right: 5px;
  width: inherit;
  display: inline-block;
}
.list-item h3 {
  margin-top: 0;
  margin-bottom: 5px;
}
.list-item:hover {
  background-color: lightgrey;
}
.list-item,
.list-item:hover {
  transition: .2s ease-out;
}

.save-content {
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: block;
  padding: 10px;
  background-color: #3b7db78a;
}
.save-content #highlight-note {
  width: 70%;
  border-radius: 5px;
  border: 1px solid gray;
  text-indent: 15px;
  height: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.save-content #add-button {
  width: 25%;
  float: right;
  margin-top: 1px;
  margin-bottom: 1px;
  height: 30px;
  /* background-color: transparent; */
  border-radius: 2px;
}
